/* ~ Navigation bar */
.style-nav {
  /* background-color: aqua; */
  background: linear-gradient(
    to right,
    rgb(255, 212, 45, 1),
    rgb(255, 227, 116, 1),
    rgb(253, 230, 118, 1),
    rgb(255, 219, 71, 1),
    rgb(254, 198, 1, 1)
  );
}
/*@ NavBar Edn */
.bg-style {
  height: 830px;
  width: 100% !important;
  background-image: url(../Images/gallery00.jpg);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover;
}
@media only screen and (max-width: 500px) {
  .bg-style {
    height: 400px;
  }
}
.text-style {
  padding-top: 13em;
  text-align: center;
}
.p-style,
.p-style-2 {
  font-weight: 600;
}
.p-style {
  font-size: 25px;
}
.p-style-2 {
  font-size: 15px;
}
/* $ button style */
.butt-style {
  border: 3px solid green !important;
}

.section-1 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.margin-style {
  width: 70%;
  margin: 0 auto;
}
.div-block {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* TOdo  CARDS  */
.div-split {
  margin-top: 4%;
}
.div-gap {
  /* gap: 10px; */
  text-align: left;
}
.mg-auto {
  width: 18rem;
  margin: 0 auto !important;
}
.txt-center {
  margin-left: 29px;
  margin-bottom: 25px;
}
.text-style-2 {
  font-weight: 600;
  font-size: 20px;
}
.text-style-3 {
  margin-top: 25px;
}
@media only screen and (max-width: 2000px) {
  .bg-style {
    height: 1000px;
  }
  .text-style {
    padding-top: 18em;
  }
}
@media only screen and (max-width: 990px) {
  .txt-center {
    margin-bottom: 25px;
    text-align: center !important;
  }
  .bg-style {
    height: 700px;
  }
  .text-style {
    padding-top: 12em;
  }
}
@media only screen and (max-width: 768px) {
  .mg-auto {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .text-style {
    padding-top: 13rem;
  }
  .font {
    font-size: 16px !important;
  }
  .font-2 {
    font-size: 15px !important;
  }
  .text-style-2 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 900px) {
  .font {
    font-size: 22px;
  }
  .font-2 {
    font-size: 22px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 36%;
  background: #000000;
}
.animation1 {
  background-color: red;
  position: relative;
  animation: example1 3s infinite;
}
@keyframes example1 {
  0% {
    background-color: #28a745;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}
.div-bg-style {
  background-color: #e8ae62;
}
.div-border {
  border: none !important;
}
.div-margin {
  margin-top: 15px;
}
.text-color {
  color: whitesmoke;
}
.div-bg-style-2 {
  background-color: gray;
}
.div-padd {
  padding: 0 !important;
}
.div-mr {
  margin-bottom: 30px;
  margin-top: 35px;
}
